<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roles</key>
	<array>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>name</key>
			<string>美杜莎</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6079</integer>
					<key>begin</key>
					<real>6079</real>
					<key>name</key>
					<string>JiDuJiao/MeiDuSha/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6066</integer>
					<key>begin</key>
					<integer>6055</integer>
					<key>name</key>
					<string>JiDuJiao/MeiDuSha/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6090</integer>
					<key>begin</key>
					<integer>6079</integer>
					<key>name</key>
					<string>JiDuJiao/MeiDuSha/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6078</integer>
					<key>begin</key>
					<integer>6067</integer>
					<key>name</key>
					<string>JiDuJiao/MeiDuSha/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6093</integer>
					<key>begin</key>
					<integer>6091</integer>
					<key>name</key>
					<string>JiDuJiao/MeiDuSha/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>阎王</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3469</integer>
					<key>begin</key>
					<real>3469</real>
					<key>name</key>
					<string>YanWangDian/YanWang/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3455</integer>
					<key>begin</key>
					<integer>3440</integer>
					<key>name</key>
					<string>YanWangDian/YanWang/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>YanWangDian/YanWang/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>YanWangDian/YanWang/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3495</integer>
					<key>begin</key>
					<integer>3481</integer>
					<key>name</key>
					<string>YanWangDian/YanWang/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>无常</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4498</integer>
					<key>begin</key>
					<real>4498</real>
					<key>name</key>
					<string>YanWangDian/WuChang/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4484</integer>
					<key>begin</key>
					<integer>4472</integer>
					<key>name</key>
					<string>YanWangDian/WuChang/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4510</integer>
					<key>begin</key>
					<integer>4498</integer>
					<key>name</key>
					<string>YanWangDian/WuChang/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4497</integer>
					<key>begin</key>
					<integer>4485</integer>
					<key>name</key>
					<string>YanWangDian/WuChang/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4520</integer>
					<key>begin</key>
					<integer>4511</integer>
					<key>name</key>
					<string>YanWangDian/WuChang/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>孟婆</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4721</integer>
					<key>begin</key>
					<real>4721</real>
					<key>name</key>
					<string>YanWangDian/MengPo/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4708</integer>
					<key>begin</key>
					<integer>4692</integer>
					<key>name</key>
					<string>YanWangDian/MengPo/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4732</integer>
					<key>begin</key>
					<integer>4721</integer>
					<key>name</key>
					<string>YanWangDian/MengPo/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4720</integer>
					<key>begin</key>
					<integer>4709</integer>
					<key>name</key>
					<string>YanWangDian/MengPo/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4744</integer>
					<key>begin</key>
					<integer>4733</integer>
					<key>name</key>
					<string>YanWangDian/MengPo/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>牛头</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4638</integer>
					<key>begin</key>
					<real>4638</real>
					<key>name</key>
					<string>YanWangDian/NiuTou/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4629</integer>
					<key>begin</key>
					<integer>4622</integer>
					<key>name</key>
					<string>YanWangDian/NiuTou/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4645</integer>
					<key>begin</key>
					<integer>4638</integer>
					<key>name</key>
					<string>YanWangDian/NiuTou/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4637</integer>
					<key>begin</key>
					<integer>4630</integer>
					<key>name</key>
					<string>YanWangDian/NiuTou/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>4656</integer>
					<key>begin</key>
					<integer>4646</integer>
					<key>name</key>
					<string>YanWangDian/NiuTou/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>name</key>
			<string>胡狼神</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6460</integer>
					<key>begin</key>
					<real>6460</real>
					<key>name</key>
					<string>GuAiJi/HuLangShen/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6490</integer>
					<key>begin</key>
					<integer>6477</integer>
					<key>name</key>
					<string>GuAiJi/HuLangShen/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6513</integer>
					<key>begin</key>
					<integer>6495</integer>
					<key>name</key>
					<string>GuAiJi/HuLangShen/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6524</integer>
					<key>begin</key>
					<integer>6514</integer>
					<key>name</key>
					<string>GuAiJi/HuLangShen/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6467</integer>
					<key>begin</key>
					<integer>6462</integer>
					<key>name</key>
					<string>GuAiJi/HuLangShen/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>name</key>
			<string>狮身人面兽</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6423</integer>
					<key>begin</key>
					<real>6423</real>
					<key>name</key>
					<string>GuAiJi/ShiZi/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6422</integer>
					<key>begin</key>
					<integer>6411</integer>
					<key>name</key>
					<string>GuAiJi/ShiZi/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6434</integer>
					<key>begin</key>
					<integer>6423</integer>
					<key>name</key>
					<string>GuAiJi/ShiZi/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6410</integer>
					<key>begin</key>
					<integer>6401</integer>
					<key>name</key>
					<string>GuAiJi/ShiZi/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6459</integer>
					<key>begin</key>
					<integer>6435</integer>
					<key>name</key>
					<string>GuAiJi/ShiZi/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>name</key>
			<string>法老王</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6990</integer>
					<key>begin</key>
					<real>6990</real>
					<key>name</key>
					<string>GuAiJi/FaLaoWang/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6977</integer>
					<key>begin</key>
					<integer>6966</integer>
					<key>name</key>
					<string>GuAiJi/FaLaoWang/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>7001</integer>
					<key>begin</key>
					<integer>6990</integer>
					<key>name</key>
					<string>GuAiJi/FaLaoWang/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6989</integer>
					<key>begin</key>
					<integer>6978</integer>
					<key>name</key>
					<string>GuAiJi/FaLaoWang/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>7004</integer>
					<key>begin</key>
					<integer>7002</integer>
					<key>name</key>
					<string>GuAiJi/FaLaoWang/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>name</key>
			<string>艳后</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6316</integer>
					<key>begin</key>
					<real>6316</real>
					<key>name</key>
					<string>GuAiJi/YanHou/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6315</integer>
					<key>begin</key>
					<integer>6303</integer>
					<key>name</key>
					<string>GuAiJi/YanHou/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6327</integer>
					<key>begin</key>
					<integer>6316</integer>
					<key>name</key>
					<string>GuAiJi/YanHou/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6339</integer>
					<key>begin</key>
					<integer>6328</integer>
					<key>name</key>
					<string>GuAiJi/YanHou/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6354</integer>
					<key>begin</key>
					<integer>6348</integer>
					<key>name</key>
					<string>GuAiJi/YanHou/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>name</key>
			<string>领路者</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5465</integer>
					<key>begin</key>
					<real>5465</real>
					<key>name</key>
					<string>MaYa/LinLuZhe/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5451</integer>
					<key>begin</key>
					<integer>5440</integer>
					<key>name</key>
					<string>MaYa/LinLuZhe/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5474</integer>
					<key>begin</key>
					<integer>5464</integer>
					<key>name</key>
					<string>MaYa/LinLuZhe/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5463</integer>
					<key>begin</key>
					<integer>5452</integer>
					<key>name</key>
					<string>MaYa/LinLuZhe/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5483</integer>
					<key>begin</key>
					<integer>5476</integer>
					<key>name</key>
					<string>MaYa/LinLuZhe/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>name</key>
			<string>羽蛇神</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5126</integer>
					<key>begin</key>
					<real>5126</real>
					<key>name</key>
					<string>MaYa/YuSheShen/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5119</integer>
					<key>begin</key>
					<integer>5112</integer>
					<key>name</key>
					<string>MaYa/YuSheShen/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5129</integer>
					<key>begin</key>
					<integer>5125</integer>
					<key>name</key>
					<string>MaYa/YuSheShen/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5124</integer>
					<key>begin</key>
					<integer>5120</integer>
					<key>name</key>
					<string>MaYa/YuSheShen/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5139</integer>
					<key>begin</key>
					<integer>5130</integer>
					<key>name</key>
					<string>MaYa/YuSheShen/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>name</key>
			<string>祭神</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5926</integer>
					<key>begin</key>
					<real>5926</real>
					<key>name</key>
					<string>MaYa/JiShen/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5919</integer>
					<key>begin</key>
					<integer>5913</integer>
					<key>name</key>
					<string>MaYa/JiShen/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5929</integer>
					<key>begin</key>
					<integer>5926</integer>
					<key>name</key>
					<string>MaYa/JiShen/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5924</integer>
					<key>begin</key>
					<integer>5920</integer>
					<key>name</key>
					<string>MaYa/JiShen/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5937</integer>
					<key>begin</key>
					<integer>5930</integer>
					<key>name</key>
					<string>MaYa/JiShen/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>name</key>
			<string>云神</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5299</integer>
					<key>begin</key>
					<real>5299</real>
					<key>name</key>
					<string>MaYa/YunShen/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5285</integer>
					<key>begin</key>
					<integer>5272</integer>
					<key>name</key>
					<string>MaYa/YunShen/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5311</integer>
					<key>begin</key>
					<integer>5299</integer>
					<key>name</key>
					<string>MaYa/YunShen/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5298</integer>
					<key>begin</key>
					<integer>5286</integer>
					<key>name</key>
					<string>MaYa/YunShen/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5322</integer>
					<key>begin</key>
					<integer>5312</integer>
					<key>name</key>
					<string>MaYa/YunShen/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>name</key>
			<string>骑士</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6043</integer>
					<key>begin</key>
					<real>6043</real>
					<key>name</key>
					<string>JiDuJiao/QiShi/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6035</integer>
					<key>begin</key>
					<integer>6029</integer>
					<key>name</key>
					<string>JiDuJiao/QiShi/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6049</integer>
					<key>begin</key>
					<integer>6043</integer>
					<key>name</key>
					<string>JiDuJiao/QiShi/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6042</integer>
					<key>begin</key>
					<integer>6036</integer>
					<key>name</key>
					<string>JiDuJiao/QiShi/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6054</integer>
					<key>begin</key>
					<integer>6050</integer>
					<key>name</key>
					<string>JiDuJiao/QiShi/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>name</key>
			<string>巨人</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6204</integer>
					<key>begin</key>
					<real>6204</real>
					<key>name</key>
					<string>JiDuJiao/JuRen/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6191</integer>
					<key>begin</key>
					<integer>6180</integer>
					<key>name</key>
					<string>JiDuJiao/JuRen/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6215</integer>
					<key>begin</key>
					<integer>6204</integer>
					<key>name</key>
					<string>JiDuJiao/JuRen/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6203</integer>
					<key>begin</key>
					<integer>6192</integer>
					<key>name</key>
					<string>JiDuJiao/JuRen/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6222</integer>
					<key>begin</key>
					<integer>6216</integer>
					<key>name</key>
					<string>JiDuJiao/JuRen/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>name</key>
			<string>天使</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5983</integer>
					<key>begin</key>
					<real>5983</real>
					<key>name</key>
					<string>JiDuJiao/TianShi/idle/img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5970</integer>
					<key>begin</key>
					<integer>5959</integer>
					<key>name</key>
					<string>JiDuJiao/TianShi/side/img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5994</integer>
					<key>begin</key>
					<integer>5983</integer>
					<key>name</key>
					<string>JiDuJiao/TianShi/face/img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>5982</integer>
					<key>begin</key>
					<integer>5971</integer>
					<key>name</key>
					<string>JiDuJiao/TianShi/back/img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6003</integer>
					<key>begin</key>
					<integer>5995</integer>
					<key>name</key>
					<string>JiDuJiao/TianShi/attack/img_%04d.png</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>effect</key>
	<array>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>shalou/%d.png</string>
			<key>begin</key>
			<integer>1</integer>
			<key>end</key>
			<integer>9</integer>
			<key>duration</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
