<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>roles</key>
	<array>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>name</key>
			<string>美杜莎</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>name</key>
			<string>阎王</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6786</integer>
					<key>begin</key>
					<integer>6774</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6671</integer>
					<key>begin</key>
					<integer>6660</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>无常</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>name</key>
			<string>孟婆</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>name</key>
			<string>牛头</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>name</key>
			<string>胡狼神</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>name</key>
			<string>狮身人面兽</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>name</key>
			<string>法老王</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>name</key>
			<string>艳后</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>name</key>
			<string>领路者</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>name</key>
			<string>羽蛇神</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>name</key>
			<string>祭神</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>name</key>
			<string>云神</string>
			<key>type</key>
			<integer>8</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>name</key>
			<string>骑士</string>
			<key>type</key>
			<integer>1</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>name</key>
			<string>巨人</string>
			<key>type</key>
			<integer>2</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>name</key>
			<string>天使</string>
			<key>type</key>
			<integer>4</integer>
			<key>data</key>
			<dict>
				<key>idle</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6828</integer>
					<key>begin</key>
					<real>6818</real>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>6774</integer>
					<key>begin</key>
					<integer>6758</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-face</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3480</integer>
					<key>begin</key>
					<integer>3469</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>walk-back</key>
				<dict>
					<key>duration</key>
					<integer>1</integer>
					<key>end</key>
					<integer>3468</integer>
					<key>begin</key>
					<integer>3456</integer>
					<key>name</key>
					<string>img_%04d.png</string>
				</dict>
				<key>attack</key>
				<dict>
					<key>duration</key>
					<integer>2</integer>
					<key>end</key>
					<integer>790</integer>
					<key>begin</key>
					<integer>780</integer>
					<key>name</key>
					<string>img_%03d.png</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>effect</key>
	<array>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>name</key>
			<string>&quot;explosion/%d.png&quot;</string>
			<key>begin</key>
			<integer>763</integer>
			<key>end</key>
			<integer>779</integer>
			<key>duration</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
