<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aura/img_1095.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,242},{30,12}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{30,12}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{30,12}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{30,12}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1097.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,234},{20,8}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{20,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1098.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,140},{22,8}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{22,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1099.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,108},{24,8}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{24,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,96},{26,10}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{26,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,72},{28,10}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{28,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,60},{28,10}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{28,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,112},{30,10}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{30,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,234},{20,8}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,30},{20,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{22,8}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{22,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,120},{22,8}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{22,8}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,108},{24,10}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{24,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1108.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,84},{26,10}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{26,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1109.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,100},{28,10}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,29},{28,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>aura/img_1110.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,100},{30,10}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{30,10}}</string>
                <key>sourceSize</key>
                <string>{74,42}</string>
            </dict>
            <key>explosion/img_7132.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,234},{20,22}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{20,22}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7133.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,218},{36,32}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{36,32}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7134.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,60},{46,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{46,38}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7135.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,60},{46,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{46,42}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7136.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,114},{54,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,46}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7137.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,178},{54,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{54,46}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7138.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,58},{58,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7139.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{58,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7140.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7141.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7142.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7145.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{62,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7146.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,170},{38,46}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{38,46}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>explosion/img_7147.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,218},{36,16}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{36,16}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c129ec347ad38a257008afac982e6816$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
