<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shalou/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,497},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,332},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,167},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
            <key>shalou/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,193}}</string>
                <key>sourceSize</key>
                <string>{163,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d561beed8ed5958b13522195cc09a282$</string>
            <key>textureFileName</key>
            <string>effect.png</string>
        </dict>
    </dict>
</plist>
